attrs==23.1.0
Automat==22.10.0
black==23.7.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
constantly==15.1.0
couchbase==4.1.8
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
PyHamcrest==2.0.4
requests==2.31.0
six==1.16.0
tomli==2.0.1
tornado==5.1.1
Twisted==19.10.0
urllib3==2.0.4
zope.interface==6.0
